body {
    background: -webkit-linear-gradient(110deg, #ff6464 50%, #5ac8fa 50%);
    background: -o-linear-gradient(110deg, #ff6464 50%, #5ac8fa 50%);
    background: -moz-linear-gradient(110deg, #ff6464 50%, #5ac8fa 50%);
    background: linear-gradient(110deg, #ff6464 50%, #5ac8fa 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
  }